@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--grey-100);
  font-family: 'Barlow', sans-serif;
  line-height: 1.5;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--grey-100);
}

p,
span {
  font-size: 14px;
}

img {
  max-width: 100%;
  border-radius: 100%;
  height: auto;
}

.container {
  display: grid;
  gap: 1.8rem;
  margin: 0 auto;
  padding: 1rem;
}

.image {
  border-radius: 100%;
  width: 40px;
}

.item {
  /* outline: 1px solid black; */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 12px 24px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile {
  display: flex;
  gap: 14px;
}

.profile > .info span:nth-of-type(2) {
  font-size: 12px;
}

.item:nth-of-type(1) {
  background-color: var(--purple-500);
  position: relative;
}

.item:nth-of-type(1)::after {
  content: '';
  background: no-repeat center url('./images/bg-pattern-quotation.svg');
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 1;
}

.item:nth-of-type(1) > * {
  position: relative;
  z-index: 2;
}

.item:nth-of-type h3 {
  z-index: 999;
}

.item:nth-of-type(2) {
  background-color: var(--grey-500);
}

.item:nth-of-type(3) {
  background-color: var(--white);
}

.item:nth-of-type(4) {
  background-color: var(--dark-blue);
}

.item:nth-of-type(5) {
  background-color: var(--white);
}

.item:nth-of-type(1) img,
.item:nth-of-type(4) img {
  border: 2px solid var(--purple-300);
}

.item:nth-of-type(3) h3,
.item:nth-of-type(5) h3 {
  color: var(--grey-400);
}

.item:nth-of-type(3) p,
.item:nth-of-type(5) p,
.item:nth-of-type(3) span,
.item:nth-of-type(5) span {
  color: var(--grey-400);
}

.profile .info span {
  display: block;
}

@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
  }

  .item:nth-of-type(1) {
    grid-column: 1 / 3;
  }

  .item:nth-of-type(4) {
    grid-column: 2 / 4;
  }

  .item:nth-of-type(5) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
}
