@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --blue-400: hsl(180, 66%, 49%);
  --purple-950: hsl(257, 27%, 26%);
  --red-400: hsl(0, 87%, 67%);
  --gray-400: hsl(0, 0%, 75%);
  --gray-500: hsl(257, 7%, 63%);
  --gray-900: hsl(255, 11%, 22%);
  --gray-950: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn.primary {
  background-color: var(--blue-400);
  color: white;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn.rounded {
  border-radius: 20px;
}

.btn.squared {
  border-radius: 6px;
}

.btn.text,
.btn.primary.small {
  padding: 0.4rem 1.5rem;
}

.btn.primary.big {
  padding: 0.6rem 2rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 1.8rem;
}

.navbar.mobile {
  display: none;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin-left: 1.6rem;
}

.nav-options.mobile {
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--gray-500);
  font-weight: 500;
  transition: all 0.2s ease-in;
}

.nav-links a:hover {
  color: var(--gray-950);
}

.login-buttons {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

/* HAMBURGER MENU */
.hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.hamburger > div {
  height: 2px;
  width: 90%;
  background: var(--purple-950);
  transform-origin: center;
  transition: 0.6s all ease;
}

.hamburger.active .bar-1 {
  transform: translateY(460%) rotate(-45deg);
}

.hamburger.active .bar-2 {
  transform: scale(0);
}

.hamburger.active .bar-3 {
  transform: translateY(-460%) rotate(45deg);
}

.header-cta {
  padding-top: 3rem;
  display: flex;
}

.header-info h1 {
  color: var(--gray-900);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.3;
}

.header-info p {
  width: 80%;
  margin-top: 1rem;
  font-size: 20px;
  color: var(--gray-500);
}

.header-info button {
  margin-top: 1.5rem;
}

main {
  margin-top: 4.6rem;
  background-color: #f2f2f2;
}

/* SHORTEN INPUT */
.shortener-wrapper {
  margin-bottom: 0;
  position: relative;
  top: -2.5rem;
}

.input-group {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-auto-rows: 60px;
  gap: 1.2rem;
  background: var(--purple-950) url('./images/bg-shorten-desktop.svg') center /
    cover no-repeat;
  border-radius: 6px;
}

.input-group input {
  border-radius: 6px;
  /* border: 1px solid var(--gray-500); */
  background-color: white;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-size: 16px;
  font-family: inherit;
  padding: 0.2rem 0 0.2rem 1.4rem;
}

.shorten-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link-container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr;
  gap: 1.6rem;
  align-items: center;
  padding: 10px 20px;
  border-radius: 6px;
}

.shorten-links .link {
  color: var(--gray-950);
  cursor: text;
}

.shorten-links .new-link {
  margin-left: auto;
  color: var(--blue-400);
}

.shorten-links .btn {
  transition: all 0.3s ease;
}

.shorten-links .btn:hover {
  background-color: var(--purple-950);
}

/* FEATURES */
.features {
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.features > h2,
.features > p {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.features > h2 {
  font-size: 2.3rem;
  color: var(--gray-950);
}

.features > p {
  margin-top: 0.4rem;
  color: var(--gray-500);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
  position: relative;
}

.card {
  background-color: white;
  padding: 5rem 2.5rem 2.5rem 2.5rem;
  border-radius: 10px;
  display: grid;
  gap: 0.7rem;
  position: relative;
  z-index: 2;
}

.img-container {
  background-color: var(--purple-950);
  width: 85px;
  height: 85px;
  padding: 15px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -14%;
  left: 8%;
}

.card h3 {
  font-size: 20px;
  color: var(--purple-950);
}

.card p {
  color: var(--gray-500);
  line-height: 1.6;
}

.card:nth-of-type(2) {
  margin-top: 5rem;
}

.card:nth-of-type(3) {
  margin-top: 10rem;
}

.horizontal-line {
  height: 8px;
  width: 100%;
  position: absolute;
  background: var(--blue-400);
  z-index: 1;
}

.main-cta {
  background: var(--purple-950) url('./images/bg-boost-desktop.svg') center /
    cover no-repeat;
}

.main-cta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  color: white;
  padding: 3rem;
}

.main-cta h2 {
  font-size: 2.3rem;
}

/* FOOTER */
.footer {
  background-color: var(--gray-950);
  padding-block: 3rem;
  color: white;
}

.footer .container {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.footer .container .logo {
  flex: 1 25%;
}

.footer .logo img {
  filter: invert(100%);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex: 1 50%;
}

.footer-links {
  list-style-type: none;
  margin-top: 1.2rem;
}

.footer-links li {
  margin-bottom: 0.4rem;
}

.footer-links li a {
  color: var(--gray-400);
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links li a:hover {
  color: white;
}

.footer .container .socials {
  flex: 1 25%;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 2rem;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .container {
    width: 90%;
    text-align: center;
    position: relative;
  }

  .navbar.desktop {
    display: none;
  }

  .navbar.mobile {
    display: flex;
    justify-content: space-between;
  }

  .nav-options.mobile {
    display: grid;
    padding: 2.5rem 3rem;
    background-color: var(--purple-950);
    border-radius: 10px;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }

  .nav-options.mobile.active {
    top: 6rem;
    left: 0;
    width: 100%;
    opacity: 1;
  }

  .nav-links.mobile {
    gap: 1.6rem;
  }

  .nav-options-divider {
    width: 100%;
    height: 1px;
    background-color: var(--gray-500);
    margin: 1.6rem 0;
  }

  .nav-links.mobile,
  .login-buttons {
    flex-direction: column;
    margin-left: 0;
  }

  .login-buttons > button {
    color: white;
  }

  .nav-links.mobile li a {
    color: white;
  }

  .nav-links.mobile li a:hover,
  .login-buttons > button:nth-of-type(1):hover {
    color: var(--gray-500);
  }

  .header-cta {
    flex-direction: column;
    gap: 1.8rem;
  }

  .header-info {
    order: 2;
  }

  .header-info h1 {
    font-size: 2.6rem;
  }

  .header-info p {
    font-size: 18px;
    width: 100%;
  }

  .shorten-links {
    gap: 1.6rem;
  }

  .input-group {
    padding: 1.2rem;
    grid-template-columns: 1fr;
  }

  .link-container {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .shorten-links .new-link {
    margin-left: 0;
  }

  .features > h2 {
    font-size: 2rem;
  }

  .cards-container {
    margin-top: 4rem;
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .img-container {
    left: 50%;
    transform: translateX(-50%);
  }

  .card:nth-of-type(2) {
    margin-top: 0;
  }

  .card:nth-of-type(3) {
    margin-top: 0;
  }

  .horizontal-line {
    transform: rotate(90deg);
  }

  .footer .container {
    gap: 3rem;
  }

  .footer .container,
  .footer-nav {
    flex-direction: column;
  }

  .footer .container .socials {
    justify-content: center;
  }
}
